<!DOCTYPE html>
<html>
    <head>
        <title>Registration form</title>
    </head>
    <body>
        <h2>Registration Form</h2>
        <form>
            <label>Name:</label>
            <input type="text" name="name"><br><br>
            <label>Contact:</label>
            <input type="number" name="phone"><br><br>
            <label>Email:</label>
            <input type="email" name="mail"><br><br>
            <label>Password:</label>
            <input type="password" name="key"><br><br>
        </form>
    </body>
</html>